<!DOCTYPE html>
<html>
  <head>
    <title>Odin Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <div>
        <p>New friend requests: <%= link_to "#{current_user.inverse_friends.pending.size}", users_path %></p>
      </div>
      <div>
        <p><%= link_to 'sign out',  destroy_user_session_path, method: :delete %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
